SUPABASE_URL = "https://crnarpvpafbywvdzfukp.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNybmFycHZwYWZieXd2ZHpmdWtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU4NTgwNDAsImV4cCI6MjA1MTQzNDA0MH0.SThw_RVKOggwgR0OzUcA40y66ZIPO21wqJygsJQxk6I"

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.crnarpvpafbywvdzfukp:FP0zmlWes3vZMOgk@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.crnarpvpafbywvdzfukp:FP0zmlWes3vZMOgk@aws-0-us-west-1.pooler.supabase.com:5432/postgres"